<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="">
    <ion-img src="../../assets/img/accueil-liege.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>GUIDE</ion-card-subtitle>
      <ion-card-title>Bienvenue à Liège</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <p>Liège est sans doute la ville de Wallonie qui possède le tempérament le plus méridional.
        Quant aux Liégeois, ils sont accueillants, chaleureux et aiment faire la fête jusqu’au bout de la nuit.
        C'est pourquoi on la surnomme Cité Ardente.</p>

        <!-- <p>Vous avez prévu une escapade à Liège ?
        Profitez-en pour visiter l'expo du moment, Toutankhamon.
        Vous pourrez y admirer des pièces originales,
        des répliques issues des Ateliers du Ministère des Antiquités égyptiennes et de
        nombreux objets archéologiques !</p>

        <p>En pleine métamorphose, Liège surprend par son architecture et son patrimoine hétéroclites.
        L'historique Place Saint-Lambert, le Palais des Princes Evêques et l'Opéra Royal de Wallonie
        côtoient la nouvelle gare des Guillemins ultramoderne, oeuvre de l'architecte espagnol Santiago Calatrava.
        Avec ses joyaux architecturaux (448 édifices classés) et culturels (20 musées),
        la ville au cent clochers vous enchantera !</p>

        <p>Liège vous invite également à découvrir ses espaces verts avec, entre autres, les Coteaux de la Citadelle.
        La Cité Ardente est aussi une ville très branchée avec le quartier du Carré,
        commercial le jour, festif la nuit, grâce à sa multitude de cafés et de lieux underground.
        Liège est la ville de tous les contrastes.</p> -->
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Ressources</ion-label>
    </ion-list-header>

    <ion-item routerLink="/activites">
      <ion-icon name="american-football-outline"></ion-icon>
      <ion-label>Activités</ion-label>
    </ion-item>

    <ion-item routerLink="/hebergements">
      <ion-icon name="moon-outline"></ion-icon>
      <ion-label>Hébergements</ion-label>
    </ion-item>

    <ion-item routerLink="/restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-item>

  </ion-list>


</ion-content>
